<nav class="nav">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dressing">Mon dressing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tenues">Mes tenues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/article">Mes articles mode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/rubrique">Rubrique mode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/favoris">Mes favoris</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/idee">Manque d'idée ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/compte">Mon compte</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
